:root {
  --primary-color: rgba(32, 32, 32, 0.7);
  --bg-color: rgba( 100, 106, 106, 0.7);
  --overlay-color: rgba(32, 32, 32, 0.7);
  
  /* --primary-color:red; */
  /* --overlay-color: red; */
  /* --bg-color: yellow; */

  --menu-speed: 850ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}


.layout {
  /*max-width: 960px;*/
  overflow: hidden;
  padding: 0 3rem;
}

.header {
  overflow: hidden;
  padding: 0 3rem;

  padding: 48;
  color: white;
  display: block; 
  font-size: 20px;
  position: relative; 
  height: 20vh;
  word-break: break-all; 

  background-image: url('../img/code1.jpg');
  background-size: 100% auto;
  margin-bottom: 1.5rem;
}

.header-inner {
  font-size: 20px;
  padding: 0 3rem;
}

.header-inner button{
  font-size: 20px;
  padding: 0.3em 0.7em 0.3em 0.5em;
  margin-right: 0.5rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--bg-color);
  color: inherit;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 200ms ease-in;
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}


