.line {
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
}

.test {
  display: block; 
  background-color: red;
}


.tips-layout {
  display: block; 
  padding: 20px;
  padding-bottom: 40px;
}

.tips-text {
  display: inline-block;   
  font-size: 22px; 
  font-weight: 400;
  color: rgb(136, 136, 136);
  padding-top: 0px; 
  padding-bottom: 10px;
}

.tips-action {
  display: inline-block; 
  padding-right: 30px;
  font-size: 11px; 
  color: #234da7;
  text-decoration: none;
  padding-top: 0px; 
  padding-left: 10px;  
}

.title-layout {
  display: block; 
  padding-left: 20px;
  padding-bottom: 10px;
}

.title-layout-box1 {
  display: inline-block; 
  font-size: 26px; 
  font-weight: 300;
  color: rgb(119, 119, 119);
  vertical-align: middle;
}

.title-layout-box2 {
  display: inline-block; 
  font-size: 0px; 
  vertical-align: middle;
  padding-left: 28px;
}

.title-layout-box2-time {
  font-size: 11px; 
  font-weight: 400;
  color: rgb(136, 136, 136);
  padding-top: 0px; 
  padding-bottom: 2px;
}

.title-layout-box2-action {
  display: inline-block; 
  padding-right: 30px;
  font-size: 11px; 
  color: #234da7;
  text-decoration: none;
}

.inline-btn {
  /* display: inline-block; */
  border: none;
  color: #234da7;
  transition: opacity 200ms ease-in;
  /* text-decoration: none; */
}

.inline-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  /* border:1px solid red;   */
}

.tabs-layout {
  display: block; 
  padding-left: 0px;
  padding-bottom: 20px;
}

.page-layout {
  display: block; 
}

.page {
  display: inline-block; 
  font-size: 13px;
  position: relative; 
  word-break: break-all; 
  padding: 4px;
  padding-left: 40px; 
}

.page-icon {
  position: absolute; 
  top: 8px;
  left: 24px; 
  width: 16px; 
  height: 16px; 
  cursor: pointer;
}

.div-img {
  display: inline-block; 
  font-size: 13px;
  color: #234da7;
  padding-right: 16px;
  cursor: pointer;
}

.div-a {
  display: inline-block; 
  font-size: 13px;
  color: #234da7;
  width: 900;
  cursor: pointer;
}

input {
  font-size: 1.2em; 
  padding: 0.2em; 
  border: none ;
  user-select: none;          
  color: rgba(255, 255, 255, 0);  
}

#svg-save-icon,
#svg-copy-icon {
   fill: white;
}